@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.game-container {
    text-align: center;
}

canvas {
    border: 2px solid #000;
    background-color: #222;
}

#score {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.yazi h1{
    font-family: "Tektur", sans-serif;
    color: red;
    text-align: center;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    canvas {
        width: 100%;
        height: auto;
    }

    #controls {
        flex-direction: column;
    }

    button {
        margin: 5px 0;
    }
}
